h3(class="mt-5") Registrese para entrar al chat 
    form(id="form-login", method="post", class="mt-5") 
        div(class="row g-3 align-items-center")
            div(class="col-auto")
                input(type="text", value="josecandiap@gmail.com", class="form-control", placeholder="Ingrese su email", id="id", name="id", required)
        div(class="row g-3 align-items-center")
            div(class="col-auto")
                input(type="text", value="jcandia" class="form-control", placeholder="Ingrese su alias", id="alias", name="alias", required)
        div(class="row g-3 align-items-center")
            div(class="col-auto")
                input(type="text", value="jose", class="form-control", placeholder="Ingrese su nombre", id="nombre", name="nombre", required)
        div(class="row g-3 align-items-center")
            div(class="col-auto")
                input(type="text", value="candia", class="form-control", placeholder="Ingrese su apellido", id="apellido", name="apellido", required)
        div(class="row g-3 align-items-center")
            div(class="col-auto")
                input(type="text", value="26", class="form-control", placeholder="Ingrese su edad", id="edad", name="edad", required)
        div(class="row g-3 align-items-center")
            div(class="col-auto")
                input(type="text", value="test" class="form-control", placeholder="Ingrese URL de imagen", id="avatar", name="avatar")
        div(class="mb-3")
            button(type="submit", class="btn btn-primary") Iniciar Chat