<div class="container">
    <div class="row">
    <div class="col d-flex position-relative">
        <a class="mx-auto" href="/insert-product">
            <button class="btn btn-primary">Ingresar Producto</button>
        </a>
    </div>
    <div class="col d-flex position-relative">
        <a class="mx-auto" href="/view-products">
            <button class="btn btn-primary">Ver Productos</button>
        </a>
    </div>
    </div>
    <div class="d-block text-center">
    <h1>Ejemplo con Handlebars</h1>
    <img src="https://programacion.net/files/article/20160322050344_handlebars.jpg" alt="Pug IMG" class="w-50" />
    </div>
</div>