div(class="card row border border-dark bg-success bg-gradient w-100 min-vh-50 mt-5" style="height: 70%")
    div(class="overflow-auto card-body")
        div(class="container d-flex justify-content-start mt-1")
            div(class="bg-light border p-1 rounded-end rounded-top", style="max-width: 50%; min-width: 40%") Hola
        div(class="container d-flex justify-content-end mt-1")
            div(class="bg-light border p-1 rounded-start rounded-top", style="max-width: 50%; min-width: 40%") Hola
    div(class="container card-footer")
        form(class="row")
            input(type="text", class="col-11 rounded") 
            button(type="submit", class="rounded-circle col-1 btn btn-info")
                img(src="assets/send.png", alt="" class="w-100")
script(src="scripts/chat.js") 