h3(class="mt-5") Registrese para entrar al chat 
    form(id="form-login", method="post", class="mt-5") 
        div(class="mb-3")
            label(for="userName", class="form-label") Nombre del Usuario
            input(type="text", class="form-control", placeholder="Ingrese su nombre", id="userName", name="userName", required)
        div(class="mb-3")
            label(for="userEmail", class="form-label") Email
            input(type="email", class="form-control", placeholder="Ingrese su email", id="userEmail", name="userEmail", required)
        div(class="mb-3")
            button(type="submit", class="btn btn-primary") Iniciar Chat